In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

%matplotlib inline

In [36]:
term_freq_df = pd.read_csv('lexicon/term_freq_df_summary.csv')
term_freq_df.head()

,Unnamed: 0,anger,anticipation,disgust,fear,joy,love,optimism,pessimism,sadness,surprise,trust
0,100,0,0,0,2,0,0,0,0,0,0,0
1,1000s,0,1,1,0,0,0,0,0,1,0,0
2,100k,2,0,2,1,0,0,0,1,2,0,0
3,10golds24,0,1,0,0,0,0,0,0,0,0,0
4,10pm,2,0,1,0,0,0,0,0,1,1,0

In [37]:
term_freq_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7846 entries, 0 to 7845
Data columns (total 12 columns):
Unnamed: 0      7846 non-null object
anger           7846 non-null int64
anticipation    7846 non-null int64
disgust         7846 non-null int64
fear            7846 non-null int64
joy             7846 non-null int64
love            7846 non-null int64
optimism        7846 non-null int64
pessimism       7846 non-null int64
sadness         7846 non-null int64
surprise        7846 non-null int64
trust           7846 non-null int64
dtypes: int64(11), object(1)
memory usage: 735.6+ KB

In [38]:
emotions = ['anger', 'anticipation', 'disgust', 'fear', 'joy', 'love', 'optimism', 'pessimism', 'sadness', 'surprise', 'trust']
emotion_lists = {'anger': [],
         'anticipation':[],
         'disgust':[],
         'fear':[],
         'joy':[],
         'love':[],
         'optimism':[],
         'pessimism':[],
         'sadness':[],
         'surprise':[],
         'trust':[]}
for emotion in emotions:
    emotion_lists[emotion] = term_freq_df.sort_values(by=emotion, ascending=False)[emotion][:50].index

In [28]:
anger = term_freq_df.sort_values(by='anger', ascending=False)['anger'][:50].index

In [39]:
top_50 = {'anger': [],
         'anticipation':[],
         'disgust':[],
         'fear':[],
         'joy':[],
         'love':[],
         'optimism':[],
         'pessimism':[],
         'sadness':[],
         'surprise':[],
         'trust':[]}

In [40]:
for key in emotion_lists:
    for item in emotion_lists[key]:
        top_50[key].append(term_freq_df.iloc[item][0])
len(top_50)

11

In [41]:
import pickle
with open('top_50_tokens.pickle', 'wb') as file_o:
    pickle.dump(top_50, file_o)

In [48]:
top_50['love']

['love',
 'happy',
 '_emoj_heart_',
 'smile',
 'day',
 'good',
 'one',
 'get',
 'always',
 'like',
 'much',
 'time',
 'new',
 'life',
 'great',
 'laughter',
 'make',
 'today',
 'thank',
 'want',
 'birthday',
 'go',
 'feel',
 'way',
 'smiling',
 'got',
 'something',
 'let',
 'see',
 'ufe0f',
 'give',
 'fun',
 'know',
 'best',
 'night',
 'really',
 '_emoj_heart_eyes_',
 'us',
 'everyone',
 'hope',
 'never',
 'makes',
 'show',
 'laugh',
 'someone',
 'hilarious',
 'cheerful',
 'keep',
 '_emoj_joy_',
 'little']

In [42]:
df = pd.read_csv('data/summarized_50_percent.csv')
df.head()

,Tweet,anger,anticipation,disgust,fear,joy,love,optimism,pessimism,sadness,surprise,trust
0,don't be shy their great people _emoj...,0,0,0,0,0,1,1,0,0,0,0
1,Bahahahaha Dean looks hilarious and dam...,0,0,0,0,0,1,0,0,0,1,0
2,I have never been more anxious of a elec...,0,0,0,1,0,0,0,0,0,0,0
3,I have never been more anxious of a elec...,0,0,0,1,0,0,0,0,0,0,0
4,to give me my keys back They aren't for ...,1,1,0,0,0,0,0,0,0,0,0

In [49]:

df_anger = pd.read_csv("ranked_tweets_by_group/anger1.csv")
df_antic = pd.read_csv("ranked_tweets_by_group/anticipation1.csv")
df_disgust = pd.read_csv("ranked_tweets_by_group/disgust1.csv")
df_fear = pd.read_csv("ranked_tweets_by_group/fear1.csv")
df_joy = pd.read_csv("ranked_tweets_by_group/joy1.csv")
df_love = pd.read_csv("ranked_tweets_by_group/love1.csv")
df_optimism = pd.read_csv("ranked_tweets_by_group/optimism1.csv")
df_pessimism = pd.read_csv("ranked_tweets_by_group/pessimism1.csv")
df_sad = pd.read_csv("ranked_tweets_by_group/sadness1.csv")
df_surprise = pd.read_csv("ranked_tweets_by_group/surprise1.csv")
df_trust = pd.read_csv("ranked_tweets_by_group/trust1.csv")

In [52]:
df_anger.head()

                                               Tweet  anger
0  When you want to say something so bad but can'...      1
1  People are hurt and angry and it's hard to kno...      1
2   this is so absurd I could laugh right now if ...      1
3  In  fact  sometimes i don't get furious at peo...      1
4  I'm not used to pretty girls that use curse wo...      1

In [55]:
anger = df_anger.Tweet.tolist()
anticipation = df_antic.Tweet.tolist()
love = df_love.Tweet.tolist()
joy = df_joy.Tweet.tolist()
optimism = df_optimism.Tweet.tolist()
pessimism = df_pessimism.Tweet.tolist()
disgust = df_disgust.Tweet.tolist()
fear = df_fear.Tweet.tolist()
sadness = df_sad.Tweet.tolist()
surprise = df_surprise.Tweet.tolist()
trust = df_trust.Tweet.tolist()

In [67]:
emotion_dict = {'anger': anger,
         'anticipation':anticipation,
         'disgust':disgust,
         'fear':fear,
         'joy':joy,
         'love':love,
         'optimism':optimism,
         'pessimism':pessimism,
         'sadness':sadness,
         'surprise':surprise,
         'trust':trust}

In [56]:
len(anger)

1272

In [68]:
import itertools
comb = itertools.combinations(emotions, 2)

In [69]:
overlap = {}
for item in comb:
    a = emotion_dict[item[0]]
    b = emotion_dict[item[1]]
    overlap[item] = len(set(a).intersection(b))

In [70]:
len(overlap)

55

In [71]:
import operator
sorted_overlap = sorted(overlap.items(), key=operator.itemgetter(1))

In [72]:
sorted_overlap

[(('pessimism', 'trust'), 2),
 (('love', 'pessimism'), 4),
 (('disgust', 'love'), 7),
 (('surprise', 'trust'), 8),
 (('anger', 'love'), 9),
 (('love', 'surprise'), 10),
 (('pessimism', 'surprise'), 10),
 (('anger', 'trust'), 11),
 (('disgust', 'trust'), 11),
 (('fear', 'love'), 11),
 (('sadness', 'trust'), 12),
 (('fear', 'trust'), 13),
 (('joy', 'pessimism'), 20),
 (('love', 'sadness'), 23),
 (('fear', 'surprise'), 25),
 (('optimism', 'pessimism'), 27),
 (('anticipation', 'pessimism'), 28),
 (('sadness', 'surprise'), 31),
 (('anticipation', 'love'), 32),
 (('optimism', 'surprise'), 35),
 (('love', 'trust'), 37),
 (('anticipation', 'trust'), 40),
 (('anger', 'surprise'), 41),
 (('disgust', 'surprise'), 42),
 (('anticipation', 'surprise'), 44),
 (('joy', 'surprise'), 62),
 (('fear', 'joy'), 63),
 (('fear', 'optimism'), 69),
 (('anticipation', 'sadness'), 71),
 (('disgust', 'optimism'), 71),
 (('anticipation', 'fear'), 73),
 (('anger', 'anticipation'), 74),
 (('anger', 'optimism'), 79),
 (('anticipation', 'disgust'), 92),
 (('anger', 'joy'), 93),
 (('disgust', 'joy'), 98),
 (('optimism', 'sadness'), 99),
 (('fear', 'pessimism'), 110),
 (('joy', 'trust'), 115),
 (('anger', 'pessimism'), 117),
 (('joy', 'sadness'), 121),
 (('optimism', 'trust'), 143),
 (('anger', 'fear'), 152),
 (('disgust', 'pessimism'), 158),
 (('disgust', 'fear'), 180),
 (('fear', 'sadness'), 183),
 (('anticipation', 'optimism'), 195),
 (('anticipation', 'joy'), 199),
 (('love', 'optimism'), 234),
 (('pessimism', 'sadness'), 273),
 (('joy', 'love'), 327),
 (('anger', 'sadness'), 383),
 (('disgust', 'sadness'), 455),
 (('joy', 'optimism'), 704),
 (('anger', 'disgust'), 1009)]